:root{
  --crazy-blue: #3939FF;
  --depressing-purple: #290744;
  --angel-white: #FFFFFF;
  --dirty-angel: #dbdada;
  --radius: 3px;
}

@font-face {
    font-family: Poppins-Black;
    src: url("../assets/Poppins/Poppins-Black.woff");
}

body{
    font-family: Poppins !important;
    font-size: 500;
    scroll-behavior: smooth;
}

nav{
  transition: all 0.3s;
}

.text-crazy-blue{
  color: var(--crazy-blue);
}

.text-justify{
  text-align: justify;
}

.poppins-black{
  font-family: Poppins-Black;
}

.custom-button{
  border-radius: var(--radius);
  color: var(--crazy-blue);
  background-color: var(--angel-white);
  width: min(225px, 40%);
  flex-shrink: 0;
}

.custom-button:hover{
  color: var(--angel-white);
  background-color: var(--crazy-blue);
}

.nowrap{
  white-space: nowrap;
}

.spacer{
  background-image: url("../assets/Images/holografic-background.png");
  background-position: bottom;
  background-size: cover;
  height: 10px;
}

.half-text{
  position: absolute;
  max-height: 110px;
  height: max(50px, 10vw);
}

#jobs .half-text{
  position: absolute;
  max-height: 110px;
  height: max(30px, 10vw);
}

a, a:active, a:visited{
  columns: var(--angel-white);
  text-decoration: none;
}

/* -------- Scroll bar -------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--angel-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--crazy-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--depressing-purple);
}