.main-content, .spacer-band{
    background-color: var(--angel-white);
    z-index: 1;
}

.spacer-band{
    height: 60px;
}

.title{
    font-family: Poppins-Black !important;
    font-size: 120px;
    font-weight: 900;
    word-wrap: normal;
    padding: 5px;
}

.offset{
    margin-bottom: -70px;
}

.texture-text{
    background: url("../assets/Images/holografic-background.jpg") no-repeat center top;
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.head-main{
    background-image: url("../assets/Images/holografic-background-cut.png");
    background-position: left top;
    background-size: cover;
    overflow: hidden;
    height: 80px;
    z-index: 20;
}

.tail-main{
    background-image: url("../assets/Images/holografic-background-cut.png");
    background-position: left bottom;
    background-size: cover;
    height: 80px;
}

@media only screen and (max-width: 992px) and (min-width: 768px){
    .offset{
        margin-bottom: -120px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .title{
      font-size: 80px;
    }
    .offset{
        margin-bottom: -95px;
    }
}

  @media only screen and (max-width: 576px) and (min-width: 420px) {
    .title{
      font-size: 70px;
    }
    .offset{
        margin-bottom: -90px;
    }
}

  @media only screen and (max-width: 420px) {
    .title{
      font-size: 60px;
    }
    .offset{
        margin-bottom: -85px;
    }
}

  