#hts .image-banner{
    height: 195px;
    background-image: url("../assets/Images/hts-image.png");
    background-size: cover;
    background-position: 50% 0%;
}

#hts .holografic{
    background-image: url("../assets/Images/holografic-background.png");
    background-size: cover;
    background-position: 50%;
}

#hts .title{
    font-size: 120px;
    text-align: center;
    line-height: 1;
}

#hts .subtitle{
    font-size: 96px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

@media only screen and (max-width: 1920px) {
    #hts .title{
      font-size: calc(0.5em + 7.5vw);
    }
    #hts .subtitle{
      font-size: calc(0.5em + 5.5vw);
    }
}