.job-card{
    position: relative;
    height: 350px;
}

.job-button{
    width: calc(100% - var(--bs-gutter-y));
    height: 38px;
    margin-left: calc(var(--bs-gutter-y) / 2);
    background-image: url("../assets/Images/holografic-background.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    transition: height 0.2s;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.job-button:hover{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.175);
}

.link-button{
    width: 100%;
    background-color: var(--angel-white);
    color: var(--crazy-blue);
}

.link-button:hover{
    background-color: var(--crazy-blue);
    color: var(--angel-white);
}

.text-button{
    animation-name: appear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.description-job, .link-button{
    animation-name: disappear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

input[type=checkbox] {
    display: none;
}

input:checked + .job-button{
    height: 100%;
    padding: 1.5rem;
}

input:checked + .job-button .text-button{
    animation-name: disappear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

input:checked + .job-button .link-button, input:checked + .job-button .description-job{
    display: block;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
    0%{
        display: block;
        opacity: 1;
    }
    99%{
        display: block;
        opacity: 0;
    }
    100%{
        display: none;
    }
}

@keyframes appear{
    0%{
        display: none;
        opacity: 0;
    }
    1%{
        display: block;
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
    }
}

@media (min-width: 992px){
    .col-cmd-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}