.main-content, .spacer-band{
    background-color: var(--angel-white);
    z-index: 1;
}

.spacer-band{
    height: 60px;
}

.title, .title-big{
    font-size: 120px;
    word-wrap: normal;
    padding: 10px 5px 5px 5px;
    
}

.texture-text{
    background: url("../assets/Images/holografic-background.jpg") no-repeat center top;
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}


.tail-main{
    background-image: url("../assets/Images/holografic-background-cut.png");
    background-position: left bottom;
    background-size: cover;
    height: 80px;
}

.job-card{
    position: relative;
    height: 250px;
    padding-bottom: 38px;
    display: flex;
    align-items: center;
}

.job-card img{
    width: 100%;
    height: min-content;
}

.job-button{
    width: calc(100% - var(--bs-gutter-y));
    height: 38px;
    margin-left: calc(var(--bs-gutter-y) / 2);
    background-image: url("../assets/Images/holografic-background.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    transition: height 0.2s;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.job-button:hover{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.175);
}

/* -------- Button Scroll bar -------- */

  /* Track */
  .description-job::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.375rem;
  }
  
  /* Handle */
  .description-job::-webkit-scrollbar-thumb {
    background: var(--angel-white);
    border-radius: 0.375rem;
  }
  
  /* Handle on hover */
  .description-job::-webkit-scrollbar-thumb:hover {
    background: var(--crazy-blue);
  }


.description-job{
    height: 150px;
    padding-right: 5px;
    overflow-y: auto;
}

.link-button{
    width: 100%;
    background-color: var(--angel-white);
    color: var(--crazy-blue);
}

.link-button:hover{
    background-color: var(--crazy-blue);
    color: var(--angel-white);
}

.text-button{
    animation-name: appear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.description-job, .link-button{
    animation-name: disappear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    font-size: 0.9rem;
}

input[type=checkbox] {
    display: none;
}

input:checked + .job-button{
    height: 100%;
    padding: 0rem;
}

input:checked + .job-button .overlay{
    height: 100%;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
}

input:checked + .job-button .text-button{
    animation-name: disappear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

input:checked + .job-button .link-button, input:checked + .job-button .description-job{
    display: block;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
    0%{
        display: block;
        opacity: 1;
    }
    99%{
        display: block;
        opacity: 0;
    }
    100%{
        display: none;
    }
}

@keyframes appear{
    0%{
        display: none;
        opacity: 0;
    }
    1%{
        display: block;
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
    }
}

@media (min-width: 992px){
    .col-cmd-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

  @media only screen and (max-width: 576px) and (min-width: 420px) {
    .fs-5{
        font-size: 1rem !important;
    }
}

  @media only screen and (max-width: 420px) {
    .title{
      font-size: 60px;
    }
    .fs-5{
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 1100px){
    .title-big, .title{
        font-size: 10vw;
    }
}
