#team-card .profile-pic{
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

#team-card .image-background{
    background-image: url("../assets/Images/team-portrait.png");
    background-size: contain;
    width: 200px;
    height: 200px;
    padding: 14px;
}